body{
    background-color: black;
}

.heading{
    display: flex;
    justify-content: center;

}

.heading h1{
    color: #ffffff;
    font-size: 60px;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 1.5px;
}

.container{
    width: 50%;
    height: 300px;
    display: flex;
    gap: 5px;
}

.container img{
    width: 7%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid #ffffff;
    transition: all ease-out 1s;
}

.container img:hover{
    width: 100%;

}